name: My First Workflow

on: [push, fork]

jobs:
    first_job: 
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v6
            - name: Welcome Message
              run: echo "My First Github Actions Workflow"

            - name: List Files
              run: ls

            - name: Read Files
              run: cat README.md